* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
   color: black;
}

.women-nav {
    display: none;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: white;
}

.header-women-dropdown {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: #F1F1F1;
}

.header-women-dropdown img {
    width: 8px;
    height: 13px;
}

.text-p-header-women {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-women-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: calc(100dvh - 90px);
}

.content-women-dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}


.women-html:hover .women-nav{
    display: flex;
}


/* dropdown */
.dc-dropdown {
  display: none;
}

.dc-dropdown.show {
  display: flex;
}


.dc-dropdown{
    position: absolute;
    width: 100%;
    height: 505px;
    top: 135px;
    left: 0;
    background-color: white;
    z-index: 2;
    padding: 62px  var(--spacing-horizontal);
}

.dropdown-p{
    width: 50%;
}

.dropdown-div-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-div-content-div{
    display: flex;
    gap: 60px;
}

 .dropdown-div-content ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .dropdown-div-content ul li{
    font-size: 12px;
    font-weight: normal;
 }


 .two{
    margin-left: 50px;
    display: flex;
    gap: 50px;
 }

 .tands{
    width: 100%;
 }

 .three{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
 }

 .ts{
    display: flex;
    flex-direction: column;
 }

.ts img {
    height: 316px;
    width: 195px;
    object-fit: cover;
    object-position: right;
}

.ts p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 1300px) {
    .dc-dropdown{
        padding: 20px;
    }
}

.clothing-women{
    display: none;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    background-color: white;
}

.rc-dropdown-div-content-div{
    display: flex;
    gap: 150px;
}

.drop-p{
    width: 100%;
    padding: 20px;
}

.drop-p ul{
    list-style: none;
    gap: 10px;
}

.two-rc{
    margin-left: 0px;
    display: flex;
    gap: 50px;
 }

 .drop-p .tands{
    width: 100%;
 }

 .three-rc{
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
 }