* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shoppingBag {
    display: none;
    background-color: white;
    height: 100vh;
    width: 33%;
    position: absolute;
    top: 95px;
    right: 0;
}

.shoppingBag.show {
  display: block;
}

.triangle-up {
    top: -14px;
    left: 25px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 25px solid white;
}

.shopping-bag-container {
    padding: 70px;
}

.title {
    font-size: 23px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-card {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 700px;
    font-family: Arial, sans-serif;
}

.product-image img {
    width: 120px;
    object-fit: cover;
}

.product-details {
    flex: 1;
}

.product-details h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.product-details p {
    margin: 4px 0;
    font-size: 14px;
    font-weight: bold;
}

.product-details .se3er {
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 9px;
}

.options {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.option span {
    font-weight: bold;
    font-size: 13px;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #ccc;
    border: 1px solid #999;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.size {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.wrp {
    background: white;
    padding: 13px 28px;
    display: flex;
    align-items: center;
    border: 2px solid #F1F1F1;
}

.qty-btn {
    background: none;
    border: none;
    font-size: 12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.qty {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.delete-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 18px 13px;
    cursor: pointer;
    font-size: 18px;
}

.totalprice{
    position: absolute;
    bottom: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 71px;
    background: #f1f1f1;
}

.totalprice p{
    font-size: 23px;
    font-weight: bold;
}

.checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px 71px;
    border-color: transparent;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.shopping-checkout-title{
display: flex;
justify-content: space-between;
}

.shopping-checkout-title img{
  display: none;
}

@media screen and (max-width:1300px) {
  .shopping-checkout-title img{
    display: flex;
  }
}


/* log and sign */
.checkout-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.checkout-modal.show {
  display: flex;
}

.modal-container {
  display: flex;
  width: 80%;
  height: auto;
  background-color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.modal-left {
  flex: 1;
  background-color: white;
  padding: 100px;
}

.modal-left h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 14px;
  margin: 10px 0 20px 0;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-decoration: underline;
  color: #333;
}

.primary-btn {
  width: 50%;
  padding: 14px;
  font-weight: 900;
  font-size: 16px;
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
}

.modal-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 100px;
  flex: 1;
  background-color: black;
  color: white;
  padding: 100px;
  position: relative;
}

.modal-right h2 {
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-field.dark {
  background-color: #333;
  border: none;
  color: white;
}

.primary-btn.light {
  background: transparent;
  color: white;
  border: 1px solid white;
  margin-bottom: 30px;
}

.or {
  margin: 20px 0;
  font-size: 14px;
  color: #777;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.google-btn,
.facebook-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  flex: 1;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.google-btn {
  background-color: #db4437;
}

.facebook-btn {
  background-color: #3b5998;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .modal-container{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .modal-left, .modal-right{
    padding: 20px;
  }

  .modal-left{
    margin-bottom: 50px;
  }

  .modal-container h2{
    font-size: 30px;
  }

  .close-modal{
    display: none;
  }
}

/* create account section */
.signup-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}

.signup-modal {
  background: #fff;
  padding: 90px;
  width: 850px;
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
}

.signup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.signup-modal h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signup-form {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 59px;
}

.form-content label{
    font-size: 14px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="tel"] {
  flex: 1;
  padding: 12px;
  font-size: 14px;
  background: #fbfbfb;
  border: transparent;
}

.phone-block {
    background-color: #fbfbfb;
    padding: 0 10px;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0;
  position: relative;
}

.flag-icon img {
  width: 26px;
  height: 18px;
}

.verify-link {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.verification-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.verification-row label {
  flex: 1;
  font-size: 14px;
}

.code-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.code-inputs input {
  width: 40px;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: transparent;
  border-bottom: 1px solid #f1f1f1;
}

.countdown {
  font-size: 14px;
  margin-left: 10px;
  min-width: 50px;
}

.checkboxes label {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}

.signup-button {
  background: white;
  color: black;
  padding: 23px 69px;
  font-weight: 900;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.term{
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
 .signup-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}

.signup-modal {
  background: #fff;
  padding: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
}

.signup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 59px;
}

.form-content label{
    font-size: 14px;
}

.verify-link {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.signup-button {
  background: white;
  color: black;
  padding: 15px 45px;
  font-weight: 900;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}
}